<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Trip Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/pages2.css">
</head>
<body>

    <!-- Header Section -->
    <div class="container py-5">
        <div class="row">
            <div class="col-7 ">
                <div class="col-10">
                    <h1 class="desktop-bold-64">Đây là chuyến đi may mắn của bạn</h1>
                </div>
                <p class="desktop-regular-20">Dành cho khách hàng <%= customer.name %>, sinh ngày <%= customer.birthdate %>, <%= customer.location %></p>
                <p class="desktop-regular-20">Theo kiến thức Phong Thủy Bát Tự, bạn thuộc mệnh <%= customer["mệnh"]>, khuyết <%= customer["dụng-hỷ thần"]% >. Có điểm mạnh <%= customer["Điểm mạnh"]%>. Tuy nhiên lại <%= customer["Cải thiện"]%>.</p>
                <p class="desktop-regular-20">Để cân bằng mệnh cách và bổ sung nhiều may mắn & niềm vui, bạn nên đi du lịch về hướng <%= customer["Hướng"]%>, tới các địa điểm <%= customer["Đặc trưng của địa điểm"]%> . <%= customer["Lý do"] %></p>
            </div>
            <div class="col-4 offset-1 d-flex justify-content-center position-relative">
                <div style="width: 411px; height: 111px;">
                    <img src="/images/icon/sun.svg" class="position-absolute" style="z-index: 1;top: 10px; left: 44px;"></img>
                    <div style="width: 311px;height: 333px " class="position-absolute">
                        <img src="/images/icon/location.svg" class="position-absolute"  style=" z-index: 3;left: 102px; top: 46px;"></img>
                        <img src="/images/icon/vong_cung.svg" class="position-absolute "  style="z-index: 3; top: 275px;left: 118px; "></img> 
                    </div>
                    <img src="/images/icon/big_cloudy.svg" class="position-absolute" style="z-index: 2;left: 0px"></img>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-7">
                    <div class="col-10">
                        <h1  class="desktop-bold-64">Đây là các địa điểm phù hợp với bạn nhất</h1>
                    </div>     
                </div>
            </div>
            <%= Object.keys(cities).forEach(city =>{%>
            <div class="col">
                <p class="desktop-semiBold-48"><%= city.name %></p>
                
                <div id="carouselExampleControls " class="carousel slide d-flex desktop-quote" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="d-flex align-items-end me-2">
                                <img src="/images/An Giang3.jpg" class="special-img" alt="Phú Quốc Island">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="d-flex align-items-end me-2">
                                <img src="/images/An Giang3.jpg" class="special-img" alt="Phú Quốc Island">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex align-items-end me-2">
                                <img src="/images/An Giang3.jpg" class="special-img" alt="Phú Quốc Island">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="normal-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <div class=" arrow-container position-absolute end-5 d-flex justify-content-evenl">
                            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <img src="/images/icon/next_icon.svg">
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <img src="/images/icon/pre_icon.svg">
                            </button>
                        </div>
                    </div>
                </div>
                <div id="carouselExampleControlsMobile " class="carousel slide d-flex mobile-quote " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="d-flex align-items-end me-2">
                                
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="d-flex align-items-end me-2">
                                
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex align-items-end me-2">
                            
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                                <img src="/images/An Giang3.jpg" class="mobile-img" alt="Tourist on Boat">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsMobile" data-bs-slide="prev">
                            <img src="/images/icon/next_icon.svg">
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsMobile" data-bs-slide="next">
                            <img src="/images/icon/pre_icon.svg">
                          </button>
                    </div>
                </div>
                <p class="mt-3 desktop-regular-20 col-11"><%= city.description %></p>
            </div>
            <%= }% %>
        </div>  
        <div class="row">
            <div>
                <div class="col-9">
                    <h3 class="desktop-semiBold-40">Để chuyến đi tới những địa điểm trên thêm phần thuận lợi & may mắn, bạn nên chọn ghế ngồi có </h3>
                </div>
            </div>
            <div class="d-flex justify-content-between ">
                <div class="custom-chair">
                    <p class="font-chair">Ghế 11</p>
                    <div class="inner-chair  container">
                        <!-- <svg width="274" height="257" viewBox="0 0 274 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.9785 282.706C91.9785 230.754 132.667 188.638 182.857 188.638C233.048 188.638 273.736 146.523 273.736 94.571C273.736 42.6193 233.048 0.503662 182.857 0.503662C79.129 0.503662 -4.95898 84.7342 -4.95898 188.638C-4.95898 292.543 79.129 376.773 182.857 376.773C132.667 376.773 91.9785 334.658 91.9785 282.706Z" fill="url(#paint0_linear_88_98)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_98" x1="134.389" y1="0.503662" x2="134.389" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFDB59"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <svg width="272" height="257" viewBox="0 0 272 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.8574 0.503662C142.048 0.503662 182.736 42.6193 182.736 94.571C182.736 146.523 142.048 188.638 91.8574 188.638C41.6665 188.638 0.978516 230.754 0.978516 282.706C0.978516 334.658 41.6665 376.773 91.8574 376.773C195.586 376.773 279.674 292.543 279.674 188.638C279.674 84.7342 195.586 0.503662 91.8574 0.503662Z" fill="url(#paint0_linear_88_97)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_97" x1="140.326" y1="0.503662" x2="140.326" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFECA5"/>
                            </linearGradient>
                            </defs>
                        </svg> -->
                        <!-- <img src="/images/icon/can.svg">
                        <img src="/images/icon/chi.svg"> -->
                        <img src="/images/icon/chair.svg">  
                    </div>
                    <div class="d-flex align-items-end mt-3  mb-3">
                        <img src="/images/icon/fire.svg" class="me-2">
                        <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                    </div>
                    <button class="chair-button desktop-semiBold-16"> Xem ngay</button>
                </div>
                <div class="custom-chair">
                    <p class="font-chair">Ghế 11</p>
                    <div class="inner-chair  container">
                        <!-- <svg width="274" height="257" viewBox="0 0 274 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.9785 282.706C91.9785 230.754 132.667 188.638 182.857 188.638C233.048 188.638 273.736 146.523 273.736 94.571C273.736 42.6193 233.048 0.503662 182.857 0.503662C79.129 0.503662 -4.95898 84.7342 -4.95898 188.638C-4.95898 292.543 79.129 376.773 182.857 376.773C132.667 376.773 91.9785 334.658 91.9785 282.706Z" fill="url(#paint0_linear_88_98)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_98" x1="134.389" y1="0.503662" x2="134.389" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFDB59"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <svg width="272" height="257" viewBox="0 0 272 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.8574 0.503662C142.048 0.503662 182.736 42.6193 182.736 94.571C182.736 146.523 142.048 188.638 91.8574 188.638C41.6665 188.638 0.978516 230.754 0.978516 282.706C0.978516 334.658 41.6665 376.773 91.8574 376.773C195.586 376.773 279.674 292.543 279.674 188.638C279.674 84.7342 195.586 0.503662 91.8574 0.503662Z" fill="url(#paint0_linear_88_97)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_97" x1="140.326" y1="0.503662" x2="140.326" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFECA5"/>
                            </linearGradient>
                            </defs>
                        </svg> -->
                        <!-- <img src="/images/icon/can.svg">
                        <img src="/images/icon/chi.svg"> -->
                        <img src="/images/icon/chair.svg">  
                    </div>
                    <div class="d-flex align-items-end mt-3  mb-3">
                        <img src="/images/icon/fire.svg" class="me-2">
                        <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                    </div>
                    <button class="chair-button desktop-semiBold-16"> Xem ngay</button>
                </div>
                <div class="custom-chair">
                    <p class="font-chair">Ghế 11</p>
                    <div class="inner-chair  container">
                        <!-- <svg width="274" height="257" viewBox="0 0 274 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.9785 282.706C91.9785 230.754 132.667 188.638 182.857 188.638C233.048 188.638 273.736 146.523 273.736 94.571C273.736 42.6193 233.048 0.503662 182.857 0.503662C79.129 0.503662 -4.95898 84.7342 -4.95898 188.638C-4.95898 292.543 79.129 376.773 182.857 376.773C132.667 376.773 91.9785 334.658 91.9785 282.706Z" fill="url(#paint0_linear_88_98)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_98" x1="134.389" y1="0.503662" x2="134.389" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFDB59"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <svg width="272" height="257" viewBox="0 0 272 257" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M91.8574 0.503662C142.048 0.503662 182.736 42.6193 182.736 94.571C182.736 146.523 142.048 188.638 91.8574 188.638C41.6665 188.638 0.978516 230.754 0.978516 282.706C0.978516 334.658 41.6665 376.773 91.8574 376.773C195.586 376.773 279.674 292.543 279.674 188.638C279.674 84.7342 195.586 0.503662 91.8574 0.503662Z" fill="url(#paint0_linear_88_97)"/>
                            <defs>
                            <linearGradient id="paint0_linear_88_97" x1="140.326" y1="0.503662" x2="140.326" y2="376.773" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white"/>
                            <stop offset="1" stop-color="#FFECA5"/>
                            </linearGradient>
                            </defs>
                        </svg> -->
                        <!-- <img src="/images/icon/can.svg">
                        <img src="/images/icon/chi.svg"> -->
                        <img src="/images/icon/chair.svg">  
                    </div>
                    <div class="d-flex align-items-end mt-3  mb-3">
                        <img src="/images/icon/fire.svg" class="me-2">
                        <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                    </div>
                    <button class="chair-button desktop-semiBold-16"> Xem ngay</button>
                </div>
                

            </div>
            
        </div>   
    </div>


  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
