
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Trip Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/page2.css">
    <link rel="stylesheet" href="/public/css/page2-mobile.css">
    
</head>
<body>

    <!-- Header Section -->
    <main class="m-0 text-center" style="overflow: hidden;" >
        <div class="pr-5 pt-80 d-flex align-items-center pl-5">
            <img src="/public/images/page2/icons/small_arrow.svg" onclick="window.location.href='/landingPage'" style="cursor: pointer;margin-right: 0.25rem ;">
            <p class="desktop-semiBold-16 text-danger mb-0">Quay lại</p>
        </div>
        <div class="row pr-5 pt-0 d-flex pl-5">
            <div class="col-12 col-xl-7 position-relative">
                <h1 class="desktop-bold-64 mb-5" id="heading_1">Đây là chuyến đi may mắn của bạn</h1>
                <p class="desktop-regular-20 mb-5"><span class="fw-bolder fw-bolder">Dành cho khách hàng </span> <span ><%= customer.name %>, sinh ngày <%= customer.birthdate %>, <%= customer.location %></span></p>
                <p class="desktop-regular-20 mb-5">Theo kiến thức Phong Thủy Bát Tự, bạn thuộc <span  class="text-danger fw-bolder">mệnh <%= customer["mệnh"] %>, khuyết <%= customer["dụng-hỷ thần"] %></span>. Điểm mạnh <span class="text-danger fw-bolder"><%= customer["Điểm mạnh"] %></span> . Tuy nhiên lại <span class="text-danger fw-bolder"><%= customer["Cải thiện"] %></span>.</p>
                <p class="desktop-regular-20 mb-5">Để cân bằng mệnh cách và bổ sung nhiều may mắn & niềm vui, bạn nên <span class="text-danger fw-bolder">đi du lịch về hướng <%= customer["Hướng"] %></span>, tới <span class="text-danger fw-bolder">các địa điểm <%= customer["Đặc trưng của địa điểm"] %></span> . <%= customer["Lý do"] %></p>
            </div>
            <div class=" col-12 col-xl-5 d-flex justify-content-center align-items-center "  id="logo-div"  >
            </div>
            
        </div>
        <div class="row pr-5 pt-80"  style="background-color: #f6f6f6;">
            <div class="container position-relative pl-5">
                <div >                
                            <h1  class="desktop-bold-64" style="margin-bottom: 48px;">Đây là các địa điểm phù hợp với bạn nhất</h1>
                </div>
                <% Object.keys(cities).forEach((city) =>{ %>
                    <div  style="margin-bottom: 48px !important">
                        <p class="desktop-semiBold-48" style="margin-bottom: 48px;"><%= city %></p>
                        <div id="<%= 'carouselExampleControls'+ city.split(' ').join('') %>" class=" w-100 carousel slide d-flex desktop-quote" data-bs-ride="carousel">
                            <div class="carousel-inner custom-carousel-inner">
                                <% for(let index=0; index< cities[city].image.length;index++) { %>
                                <div class="carousel-item <%= index === 0 ? 'active' : '' %> ">
                                    <div class="d-flex align-items-end ">
                                        <img src="<%= cities[city].image[index] %>" class="special-img" alt="Phú Quốc Island">
                                        <img src="<%= cities[city].image[index+1>4?index+1-5 : index+1] %>" class="normal-img mr-16" alt="Tourist on Boat">
                                        <img src="<%= cities[city].image[index+2>4?index+2-5 : index+2] %>" class="normal-img" alt="Tourist on Boat">
                                    </div>
                                </div>
                                <% } %>
                                <div class=" arrow-container position-absolute end-5 d-flex justify-content-evenl">
                                    <button class="carousel-control-prev " type="button" data-bs-target="<%='#carouselExampleControls'+ city.split(' ').join('') %>" data-bs-slide="prev">
                                        <img src="/public/images/page2/icons/next_icon.svg">
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="<%='#carouselExampleControls'+ city.split(' ').join('') %>" data-bs-slide="next">
                                        <img src="/public/images/page2/icons/pre_icon.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="<%= 'carouselExampleControlsMobile'+ city.split(' ').join('') %>" class="carousel slide d-flex mobile-quote " data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% for(let index=0; index< cities[city].image.length;index++){ %>
                                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>  ">
                                        <div class="d-flex align-items-end">
                                            <img src="<%= cities[city].image[index] %>" class="normal-img me-2" alt="Phú Quốc Island">
                                            <img src="<%= cities[city].image[index+1>4?index+1-5 : index+1] %>" class="normal-img" alt="Tourist on Boat">
                                        </div>
                                    </div>
                                <% } %>
                        
                                <button class="carousel-control-prev" type="button" data-bs-target="<%='#carouselExampleControlsMobile'+ city.split(' ').join('') %>" data-bs-slide="prev">
                                    <img src="/public/images/page2/icons/next_icon.svg">
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="<%='#carouselExampleControlsMobile'+ city.split(' ').join('') %>" data-bs-slide="next">
                                    <img src="/public/images/page2/icons/pre_icon.svg">
                                    </button>
                            </div>
                        </div>
                        <p class=" desktop-regular-20 col-12 col-sm-8" style="margin-top: 48px !important"><%= cities[city].description %></p>
                    </div>   
                <% }); %>
            </div>  
        </div>
        <div class="row pr-5 pt-80 pb-0" >
            <div class="container" >
                <div class="row">
                    <div class="col-12 col-md-9 mb-4">
                        <h3 class="desktop-semiBold-40">Để chuyến đi tới những địa điểm trên thêm phần thuận lợi & may mắn, bạn nên chọn ghế ngồi có </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div  class="d-flex position-relative justify-content-start" style="overflow: hidden;scroll-behavior:smooth; overflow-x: auto">
                            <div class="d-flex flex-column custom-chair justify-content-center align-items-center me-5 ps-3 pe-3" style="transition: transform 0.3s ease;">
                                <p class="font-chair">Ghế <%= chairList[0] %></p>
                                <div class="inner-chair  container position-relative">
                                    <img src="/public/images/page2/yin_yang.png" class="bottom-0 start-0 end-0 position-absolute yin-yang-img"   style="z-index: 1;">
                                    <img src="/public/images/page2/chair.png" class="chair-img position-absolute " style="z-index: 2;right: 10% !important">  
                                </div>
                                <div class=" d-flex align-items-end mt-2 container " style="width: 363px !important;">
                                    <img src="/public/images/page2/icons/fire.svg" class="me-2">
                                    <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                                </div>
                                <button class="chair-button desktop-semiBold-16 "> Xem ngay</button>
                            </div>
                            <div class="d-flex flex-column custom-chair justify-content-center align-items-center me-5 ps-3 pe-3" style="transition: transform 0.3s ease;">
                                <p class="font-chair">Ghế <%= chairList[1] %></p>
                                <div class="inner-chair  container position-relative">
                                    <img src="/public/images/page2/yin_yang.png" class="bottom-0 start-0 end-0 position-absolute yin-yang-img"   style="z-index: 1;">
                                    <img src="/public/images/page2/chair.png" class="chair-img position-absolute " style="z-index: 2;right: 10% !important">  
                                </div>
                                <div class=" d-flex align-items-end mt-2 container " style="width: 363px !important;">
                                    <img src="/public/images/page2/icons/fire.svg" class="me-2">
                                    <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                                </div>
                                <button class="chair-button desktop-semiBold-16 "> Xem ngay</button>
                            </div>
                            <div class="d-flex flex-column custom-chair justify-content-center align-items-center me-5 ps-3 pe-3" style="transition: transform 0.3s ease;">
                                <p class="font-chair">Ghế <%= chairList[2] %></p>
                                <div class="inner-chair  container position-relative">
                                    <img src="/public/images/page2/yin_yang.png" class="bottom-0 start-0 end-0 position-absolute yin-yang-img"   style="z-index: 1;">
                                    <img src="/public/images/page2/chair.png" class="chair-img position-absolute " style="z-index: 2;right: 10% !important">  
                                </div>
                                <div class=" d-flex align-items-end mt-2 container " style="width: 363px !important;">
                                    <img src="/public/images/page2/icons/fire.svg" class="me-2">
                                    <p class="m-0 desktop-regular-24">Hiện tại còn trống <span>5 ghế</span></p>
                                </div>
                                <button class="chair-button desktop-semiBold-16 "> Xem ngay</button>
                            </div>
                           
                        </div> 
                    </div>
                </div>
                   
            </div>
        </div>
        <div class="row pt-80">
            <div class="container">
                <div class="d-flex mb-5 align-items-center pr-5">
                    <img src="/public/images/page2/icons/ve.svg" class="me-2">
                    <h1 class="desktop-semiBold-40-black mb-0" >Ngày du lịch gợi ý cho bạn</h1>
                </div>
                <div class="container " >
                    <div class="row d-flex justify-content-center" style="overflow: hidden;">
                        <div class="col-6  col-xxl-3 justify-content-center mb-3" > 
                          <div class=" position-relative visit-day-box" style="margin: 0 auto;">
                              <p  class= "fw-bold" style="font-size: 4rem; line-height: 4.5rem;align-items: center; color: white;margin-bottom: 0.5rem;">11/8</p>
                              <p style="font-weight: 500px;font-size:2rem ; line-height: 2rem;align-items: center; color: white">Vui vẻ nhất</p>
                              <div class=" d-flex  position-absolute visit-day-button justify-content-around" style="z-index: 2 !important;">
                                  <p>OCCBBAY200</p>
                                  <Copy style="font-weight: 600px; color: #1890ff;">Copy</Copy>
                              </div>
                              <img src="/public/images/page2/triangle.png" class="position-absolute end-0 bottom-0 visit-day-img" style="z-index: 1 !important; border-radius: 16px !important;border-width: 2px;">
                          </div>
                      </div>
                      <div class="col-6   col-xxl-3 justify-content-center mb-3" > 
                          <div class=" position-relative visit-day-box" style="margin: 0 auto;">
                              <p  class= "fw-bold" style="font-size: 4rem; line-height: 4.5rem;align-items: center; color: white;margin-bottom: 0.5rem;">14/8</p>
                              <p style="font-weight: 500px;font-size:2rem ; line-height: 2rem;align-items: center; color: white">Bình an nhất</p>
                              <div class=" d-flex  position-absolute visit-day-button justify-content-around" style="z-index: 2 !important;">
                                  <p>OCCBBAY200</p>
                                  <Copy style="font-weight: 600px; color: #1890ff;">Copy</Copy>
                              </div>
                              <img src="/public/images/page2/triangle.png" class="position-absolute end-0 bottom-0 visit-day-img" style="z-index: 1 !important; border-radius: 16px !important;border-width: 2px;">
                          </div>
                      </div>
                      <div class="col-6   col-xxl-3 justify-content-center mb-3" > 
                          <div class=" position-relative visit-day-box" style="margin: 0 auto;">
                              <p  class= "fw-bold" style="font-size: 4rem; line-height: 4.5rem;align-items: center; color: white;margin-bottom: 0.5rem;">11/8</p>
                              <p style="font-weight: 500px;font-size:2rem ; line-height: 2rem;align-items: center; color: white">An toàn nhất</p>
                              <div class=" d-flex  position-absolute visit-day-button justify-content-around" style="z-index: 2 !important;">
                                  <p>OCCBBAY200</p>
                                  <Copy style="font-weight: 600px; color: #1890ff;">Copy</Copy>
                              </div>
                              <img src="/public/images/page2/triangle.png" class="position-absolute end-0 bottom-0 visit-day-img" style="z-index: 1 !important; border-radius: 16px !important;border-width: 2px;">
                          </div>
                      </div>
                      <div class="col-6   col-xxl-3 justify-content-center mb-3" > 
                          <div class=" position-relative visit-day-box" style="margin: 0 auto;">
                              <p  class= "fw-bold" style="font-size: 4rem; line-height: 4.5rem;align-items: center; color: white;margin-bottom: 0.5rem;">11/8</p>
                              <p style="font-weight: 500px;font-size:2rem ; line-height: 2rem;align-items: center; color: white">Bình an nhất</p>
                              <div class=" d-flex  position-absolute visit-day-button justify-content-around" style="z-index: 2 !important;">
                                  <p>OCCBBAY200</p>
                                  <Copy style="font-weight: 600px; color: #1890ff;">Copy</Copy>
                              </div>
                              <img src="/public/images/page2/triangle.png" class="position-absolute end-0 bottom-0 visit-day-img" style="z-index: 1 !important; border-radius: 16px !important;border-width: 2px;">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="container discount-box " >
              <div class="row" style="height:fit-content !important;" >
                  <div class="col-12 col-md-3 d-flex align-items-end justify-content-start  order-3 order-md-1">
                      <img src="/public/images/page2/icons/fly.svg"   style="width: 224px !important; height: 224px! important ">
                  </div>
                  <div class="col-12 order-4 order-md-4"></div>
                  <div class="col-12 col-md-6  justify-content-center align-items-center order-1 order-md-2 pe-5 ps-5 pb-0 pt-3 mb-5 mt-5">
                      <p class="desktop-semiBold-32 text-white" >Tặng ngay voucher giảm giá 15% khi đặt vé tại những ngày này! (Áp dụng trong duy nhất 1 tuần)</p>
                  </div>
                  <div class=" col-12 col-md-3 d-flex align-items-center bottom-10 order-2 order-md-3 justify-content-center " >
                      <button  class="fw-bolder discount-button"> Nhận voucher </button>
                  </div>
              </div>
              
             
              
          
          </div>
              
        </div>
        <div class="row pt-80 pr-5" >
          <div class=" row text-start">
              <h1 class="vietjet-main-title ">Thoải mái healing cùng Vietjet Air</h1>
              <h1 class="vietjet-sub-title">Vé máy bay SIÊU HỜI </h1> 
              <h1 class="vietjet-sub-title"> Du lịch ĐÃ ĐỜI</h1>
          </div>
          <div class="row  pt-5">
              <div class="col-12 col-sm-8 ps-0">
                  <img src="/public/images/page2/vietjet.svg" alt="Vietjet Air" class="custom-image-item">
              </div>
              <div class="col-12 col-sm-4 d-flex  flex-column  pb-2 pt-2" style="margin: auto;">
                      <div class="d-flex align-items-center mb-2">
                        <img src="/public/images/page2/icons/heart.svg" alt="Fast Procedures" class="feature-icon"> 
                        <p class="mb-0">Thủ tục nhanh chóng</p>
                     </div>
                     <div class="d-flex align-items-center mb-2">
                        <img src="/public/images/page2/icons/heart.svg" alt="Fast Procedures" class="feature-icon"> 
                        <p class="mb-0">Giá cả phải chăng</p>
                     </div>
                     <div class="d-flex align-items-center mb-2">
                        <img src="/public/images/page2/icons/heart.svg" alt="Fast Procedures" class="feature-icon"> 
                        <p class="mb-0">Chuyến bay đúng giờ</p>
                     </div>
                     <div class="d-flex align-items-center mb-2">
                        <img src="/public/images/page2/icons/heart.svg" alt="Fast Procedures" class="feature-icon"> 
                        <p class="mb-0">Đa dạng tuyến bay</p>
                     </div>
                     <div class="d-flex align-items-center mb-2">
                        <img src="/public/images/page2/icons/heart.svg" alt="Fast Procedures" class="feature-icon"> 
                        <p class="mb-0">Phong cách trẻ trung, năng động</p>
                     </div>
              </div>

          </div>
          
          
        </div>
        
        <div class="footer-banner" style="height: fit-content;">
          <div class="w-100" style="height: 185px !important; ">
          </div>
          <div class="container pb-5">
              <div >
                  
                  <img src="/public/images/page2/icons/flight_big.svg" class="banner-flight-img">
                  <p class="desktop-semiBold-48-red text-center" >Cùng Vietjet bay vào tương lai</p>
              </div>  
              <div class="row bg-white d-flex  justify-content-center p-4 m-2 rounded-3" >
                  <div class="col-6 col-xxl-3 ">
                     <p class="desktop-semiBold-48 text-center mb-0">120+</p>
                      <p  style="word-wrap: break-word;" class="pe-3 ps-3 pt-3">Đường bay nội địa và quốc tế </p>
                  </div>
                  <div class="col-6 col-xxl-2 ">
                      <p class="desktop-semiBold-48 text-center mb-0">400+</p>
                      <p  style="word-wrap: break-word;" class="pe-3 ps-3 pt-3">Chuyến bay mỗi ngày</p>
                  </div>
                  <div class="col-6 col-xxl-2 ">
                      <p class="desktop-semiBold-48 text-center mb-0">6000+</p>

                      <p  style="word-wrap: break-word;" class="pe-3 ps-3 pt-3">Nhân viên thân thiện,tận tình  </p>
                  </div>
                  <div class="col-6 col-xxl-2 ">
                    <p class="desktop-semiBold-48 text-center mb-0">100+</p>
                    
                      <p  style="word-wrap: break-word;" class="pe-3 ps-3 pt-3">Tàu bay mới hiện đại, bảo vệ môi trường </p>
                  </div>
                  
                  <div class="col-12 col-xxl-3">
                      <p class="desktop-semiBold-48 text-center mb-0">7★</p>
                      <p  style="word-wrap: break-word;" class="pe-3 ps-3 pt-3">Xếp hạng hàng không an toàn cao nhất thế giới mức 7 sao </p>
                  </div>

              </div>
              <div class="mt-5 mb-5">
                  <img src="/public/images/page2/icons/footer/fly_green.svg" class="banner-img">
              </div>
              <div class="row bg-white d-flex  justify-content-center p-3 m-2 rounded-3">
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_1.png" style="width: 140px;height: 100px;">
                      <p>Hãng hàng không chi phí thấp dẫn đầu châu Á Thái Bình Dương</p>
                  </div>
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_2.png" style="width: auto !important;height: 100px;">
                      <p>Doanh nghiệp tốt nhất Ngành hàng không tại Đông Nam Á</p>
                  </div>
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_3.png" style="width: auto !important;height: 100px;">
                      <p>Top các công ty niêm yết tốt nhất theo xếp hạng Forbes</p>
                  </div>
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_4.png" style="width: auto !important;height: 100px;">
                      <p>Thương hiệu tốt nhất Châu Á</p>
                  </div>
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_5.png" style="width: auto !important;height: 100px;">
                      <p>Môi trường làm việc tốt nhất Châu Á</p>
                  </div>
                  <div class="col-6 col-xxl-2 p-2">
                      <img src="/public/images/page2/icons/footer/image_6.png" style="width: auto !important;height: 100px;">
                      <p>Doanh nghiệp phát triển bền vững</p>
                  </div>
              </div>
          </div>
          <div class="w-100",style="height:100 px !important;">
          </div>
        </div>

     
   

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // HTML code to insert
      const htmlToInsertinMobile = `
           <div style="width: 25.6rem; height: 25.6rem; position: relative;margin-left: 10% !important ;" id="custom-div-1" >
                  <img src="/public/images/page2/icons/sun.svg" class="position-absolute" style="z-index: 1;top: 0.5rem; left: 2.5rem;width: 21rem;height: 21rem;"></img>
                  <div style="width: 311px;height: 333px " class="position-absolute">
                      <img src="/public/images/page2/icons/location.svg" class="position-absolute"  style=" z-index: 3;left: 6.3rem ; top: 2.8rem;width: 13rem; height:16.4rem"></img>
                      <img src="/public/images/page2/icons/vong_cung.svg" class="position-absolute "  style="z-index: 3; top: 17rem;left: 7.3rem; width: 11rem;height: 3.5rem"></img> 
                  </div>
                  <img src="/public/images/page2/icons/big_cloudy.svg" class="position-absolute" style="z-index: 2;left: 0px;width: 15.3rem;height: 10.8rem;"></img>   
                  <img src="/public/images/page2/icons/small_cloudy.svg" class="position-absolute" style="z-index: 2;left: 0.125rem; top: 9.5rem;width:12rem ;height:8.6rem ;"> 
                  <img src="/public/images/page2/icons/small_cloudy_1.svg" class="position-absolute" style="z-index: 4;right:0.125rem;top: 9.5rem;width:9.5rem ;height:8.6rem ;">
                  <img  src="/public/images/page2/icons/small_round_1.svg" class="position-absolute" style="z-index: 4;left:0;top: 16rem;width:1.125rem ;height: 1.125rem;">
                  <img  src="/public/images/page2/icons/small_round_2.svg" class="position-absolute" style="z-index: 4;right:0;top: 5.8rem;width:1.6rem ;height:1.6rem ;">
                  <img  src="/public/images/page2/icons/small_round_3.svg" class="position-absolute" style="z-index: 4;right:0.25rem;top: 3.25rem;width: 1.125rem;height: 1.125rem;">  
           </div>
      `;
      const htmlToInsertinDesktop = `
           <div style="width: 25.6rem; height: 25.6rem; position: relative;margin-left: 10% !important ;" id="custom-div-2" >
                  <img src="/public/images/page2/icons/sun.svg" class="position-absolute" style="z-index: 1;top: 0.5rem; left: 2.5rem;width: 21rem;height: 21rem;"></img>
                  <div style="width: 311px;height: 333px " class="position-absolute">
                      <img src="/public/images/page2/icons/location.svg" class="position-absolute"  style=" z-index: 3;left: 6.3rem ; top: 2.8rem;width: 13rem; height:16.4rem"></img>
                      <img src="/public/images/page2/icons/vong_cung.svg" class="position-absolute "  style="z-index: 3; top: 17rem;left: 7.3rem; width: 11rem;height: 3.5rem"></img> 
                  </div>
                  <img src="/public/images/page2/icons/big_cloudy.svg" class="position-absolute" style="z-index: 2;left: 0px;width: 15.3rem;height: 10.8rem;"></img>   
                  <img src="/public/images/page2/icons/small_cloudy.svg" class="position-absolute" style="z-index: 2;left: 0.125rem; top: 9.5rem;width:12rem ;height:8.6rem ;"> 
                  <img src="/public/images/page2/icons/small_cloudy_1.svg" class="position-absolute" style="z-index: 4;right:0.125rem;top: 9.5rem;width:9.5rem ;height:8.6rem ;">
                  <img  src="/public/images/page2/icons/small_round_1.svg" class="position-absolute" style="z-index: 4;left:0;top: 16rem;width:1.125rem ;height: 1.125rem;">
                  <img  src="/public/images/page2/icons/small_round_2.svg" class="position-absolute" style="z-index: 4;right:0;top: 5.8rem;width:1.6rem ;height:1.6rem ;">
                  <img  src="/public/images/page2/icons/small_round_3.svg" class="position-absolute" style="z-index: 4;right:0.25rem;top: 3.25rem;width: 1.125rem;height: 1.125rem;">  
           </div>
      `;

      // Function to append or remove HTML based on screen size
      function handleResize() {
          const contentDiv = document.getElementById('custom-div-2');
          const customDiv = document.getElementById('custom-div-1');
          const target=document.getElementById('heading_1');
          const target1=document.getElementById('logo-div');

          // Check if the screen width is less than 768px (considered a small screen)
          if (window.matchMedia('(max-width: 1140px)').matches) {
              // If customDiv does not exist, append it
              if (!customDiv) {
                  target.insertAdjacentHTML('afterend', htmlToInsertinMobile);
              }
              if(contentDiv){
                  contentDiv.remove();
              }
          }else{
              if(customDiv) customDiv.remove();
              if(!contentDiv){
                  target1.insertAdjacentHTML('beforeend', htmlToInsertinDesktop);
              }
          }
      }

      // Initial check when the page loads
      handleResize();

      // Add an event listener to check whenever the window is resized
      window.addEventListener('resize', handleResize);
  </script>
</body>
</html>
